@charset "utf-8";
.index footer{
	font-size: 0;
	width: 100%;
	height: 0.55rem;
	position: fixed;
	bottom: 0;
	z-index: 2;
	background: #EEEEEE;
}
.index footer>a{
	display: inline-block;
	width: 20%;
	text-align: center;
	padding: 0.05rem 0;
}
.index footer>a>img{
	width: 35%;
}
.index footer>a>p{
	width: 100%;
	text-align: center;
	font-size: 0.14rem;
}
.index footer .font_color{
	color: #d4237a;
}
