@charset "UTF-8";

body{
	font-size: 0.14rem;
	background: #f0f0f0;
}

.zjy_box{
	width: 100%;
	overflow: hidden;
}

/*头部*/
.zjy_box header{
	height: 0.44rem;
	width: 100%;
	line-height: 0.44rem;
	background: #fafafa;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
}
.zjy_box header span{
	background: url(../../images/qz_lt.png) no-repeat center;
	background-size: 50%;
	width: 0.5rem;
	height: 100%;
	float: left;
}
.zjy_box header p{
	font-size: 0.2rem;
	float: left;
	width: 3.14rem;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


/*banner*/
.zjy_box banner{
	width: 100%;
	display: block;
	padding-top: 0.44rem;
}
.zjy_box banner img{
	width: 100%;
	display: block;
}


/*nav*/
.zjy_box nav{
	width: 100%;
	margin: 0.1rem 0;
	overflow: hidden;
}
.zjy_box nav div{
	width: 50%;
	float: left;
}
.zjy_box nav div img{
	width: 100%;
	display: block;
}


/*爆款自驾*/
.zjy_box .baozijia{
	width: 100%;
	margin-bottom: 0.1rem;
}
.zjy_box .baozijia img{
	width: 100%;
	display: block;
}


/*路线*/
.zjy_box>ul{
	width: 100%;
	overflow: hidden;
	padding: 0 0.05rem;
}
.zjy_box>ul li{
	float: left;
	width: 50%;
	padding: 0 0.05rem;
}
.zjy_box>ul li img{
	width: 100%;
	display: block;
}
.zjy_box>ul li:last-child img:last-child{
	margin-top: 0.06rem;
}


.zjy_box #zjy_info{
	width: 100%;
}
.zjy_box #zjy_info .top{
	border-top:1px solid #ddd;
	width: 100%;
	overflow: hidden;
	height: 0.56rem;
	margin-top: 0.2rem;
}
.zjy_box #zjy_info .top li{
	float: left;
	text-align: center;
	width: 33.3%;
	background: white;
	border-right: 1px solid #999;
}
.zjy_box #zjy_info .top li a{
	width: 0.7rem;
	margin: 0 auto;
	display: block;
	padding: 0.17rem 0;
}

.zjy_box #zjy_info .top .color{
	color: #d30775;
	border-bottom: 2px solid #d30775;
}

.zjy_box #zjy_info .bottom{
	width: 100%;
}
.zjy_box #zjy_info .bottom li{
	margin-bottom: 0.1rem;
	width: 100%;
	overflow: hidden;
	background: white;
}
.zjy_box #zjy_info .bottom li a{
	position: relative;
	display: block;
	width: 100%;
}
.zjy_box #zjy_info .bottom li a>img{
	width: 100%;
	display: block;
}
.zjy_box #zjy_info .bottom li a>span{
	position: absolute;
	background: rgba(0,0,0,0.5);
	color: white;
	top: 0.2rem;
	left: 0.1rem;
	padding: 0 0.1rem;
}
.zjy_box #zjy_info .bottom li a>p{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.3rem;
	position: absolute;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	padding-top: 0.05rem;
	padding-left: 0.1rem;
}
.zjy_box #zjy_info .bottom li a>p img{
	height: 0.2rem;
	width: 0.2rem;
	vertical-align: middle;
	float: left;
}
.zjy_box #zjy_info .bottom li a>p span{
	color: white;
}
.zjy_box #zjy_info .bottom li a>label{
	position: absolute;
	right: 0rem;
	bottom: 0.4rem;
	z-index: 2;
	padding: 0.05rem 0.08rem;
	background: #ff720e;
	color: white;
	line-height: 0.3rem;
	text-align: center;
}
.zjy_box #zjy_info .bottom li a>label i{
	font-style: normal;
	font-size: 0.2rem;
	color: white;
}
.zjy_box #zjy_info .bottom li>div{
	padding: 0.1rem;
}
.zjy_box #zjy_info .bottom li>div p{
	line-height: 0.22rem;
	max-height: 0.4rem;
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.zjy_box #zjy_info .all_bottom{
	height: 0.7rem;
	padding-top: 0.2rem;
	margin-bottom: 0.5rem;
}
.zjy_box #zjy_info .all_bottom p{
	width: 1.4rem;
	overflow: hidden;
	margin: 0 auto;
}
.zjy_box #zjy_info .all_bottom p img{
	float: left;
	width: 0.2rem;
	margin-right: 0.1rem;
}
.zjy_box #zjy_info .all_bottom p span{
	float: left;
	color: #999;
}



