.chujinyou{
	background: #f1f1f1;
	margin-bottom: 0.55rem;
}
.chujinyou .top{
	position: fixed;
	background: #fff;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 0.45rem;
	font-size: 0;
	border-bottom: 1px solid #bbb;
}
.chujinyou .top .left{
	float: left;
	width: 0.35rem;
	text-align: center;
	height: 0.45rem;
	line-height: 0.45rem;
}
.chujinyou .top .left img{
	width: 0.1rem;
	margin-top: 0.14rem;
}
.chujinyou .top .center{
	float: left;
	font-size: 0.19rem;
	width:74%;
	line-height: 0.45rem;
	
}
.chujinyou .top .center p{
	padding-left: 1.3rem;
	color: #000;
	word-break: break-all;
}
.chujinyou .top .right{
	float: right;
	height: 0.45rem;
}
.chujinyou .top .right img{
	width: 0.23rem;
	margin-top: 0.1rem;
}
.chujinyou .top .right .img2{
	margin-right: 0.1rem;
}
.chujinyou .top .right .img1{
	margin-right: 0.1rem;
}
.chujinyou #soubig{
	margin-top: 0.46rem;
	width: 100%;
	height: 0.4rem;
}
.chujinyou .sou{
	background: #fff;
	width: 3.95rem;
	height: 0.3rem;
	font-size: 0.16rem;
	margin-left: 0.1rem;
	border:1px solid #ddd;
	border-radius: 3px;
}
.chujinyou .sou .sou_1{
	display: inline-block;
	color: #d30775;
	line-height: 0.3rem;
	margin-bottom: 0.05rem;
	position: relative;
	font-size: 0.14rem;
	padding-left: 0.1rem;
	padding-right: 0.15rem;
}
.chujinyou .sou .sou_1::after{
	content: "";
    width: 0.05rem;
    height: 0.05rem;
    border-top: 1px solid #d30775;
    border-right: 1px solid #d30775;
    transform: rotate(135deg);
    position: absolute;
    top: .09rem;
    right: -0.01rem;
}
.chujinyou .sou img{
	width: 0.15rem;
}
.chujinyou .sou .sou_2{
	font-size: 0.15rem;
	padding-left: 0.1rem;
	color: #ccc;
}
.chujinyou #banner{
	font-size: 0;
	width: 100%;
	height: 1rem;
}
.chujinyou #banner img{
	width: 100%;
}
.chujinyou #nav{
	width: 100%;
	height: 1.8rem;
	font-size: 0;
	background: #fff;
}
.chujinyou #nav ul li{
	text-align: center;
	float: left;
	width: 25%;
	margin-top: 0.1rem;
}
.chujinyou #nav ul li img{
	width: 0.4rem;
}
.chujinyou #nav ul li p{
	font-size: 0.15rem;
    color: #000;
    padding-top: 0.08rem;
    padding-bottom: 0.1rem;
}
.chujinyou .main_4{
	width: 100%;
	height: 0.64rem;
	margin-top: 0.1rem;
	background: #fff;
	padding-bottom: 0.1rem;
}
.chujinyou .main_4 ul{
	font-size: 0;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    border-bottom: 1px solid #ccc;
}
.chujinyou .main_4 ul li{
	width: 21.5%;
	text-align: center;
	position: relative;
	display: inline-block;
}
.chujinyou .main_4 li p{
	font-size: 0.14rem;
	color: #000;
	margin-top: 0.1rem;
}
.chujinyou .main_4 li img{
	width: 0.2rem;
}
.chujinyou .main1{
	width: 100%;
	background: #fff;
	overflow: hidden;
}
.chujinyou .main1 ul li{
	float: left;
	margin-left: 0.05rem;
	margin-top: 0.1rem;
	font-size: 0.14rem;
	width: 23%;
	background: #f3f3f3;
	padding: 0.05rem 0.1rem;
	border-radius: 15px;
	text-align: center;
	margin-bottom: 0.1rem;
}
.chujinyou .main2{
	width: 100%;
	background: #fff;
}
.chujinyou .main2 .ul2 li{
	position: relative;
	margin-top: 0.1rem;
}
.chujinyou .main2 .ul2 li .top1{
	width: 100%;
	height: 1.82rem;
}
.chujinyou .main2 .ul2 li .top1 img{
	width: 100%;
	height: 100%;
}
.chujinyou .main2 .ul2 li .bot{
	font-size: 0.18rem;
}
.chujinyou .main2 .ul2 li .spa1{
	position: absolute;
	left: 0.1rem;
	top: 0.1rem;
	font-size: 0.14rem;
	color: #fff;
	padding: 0.08rem;
	background: #000;
	opacity: 0.5;
}
.chujinyou .main2 .ul2 li .spa2{
	position: absolute;
	left: 3.223rem;
	top: 1.1rem;
	font-size: 0.16rem;
	font-weight: bold;
	color: #fff;
	padding: 0.1rem;
	background: #ff7201;
	border-radius: 10px;
}
.chujinyou .main2 .ul2 li h3{
	font-size: 0.18rem;
	margin-top: 0.05rem;
	margin-bottom: 0.05rem;
	color: #333;
	padding-left: 0.1rem;
	font-weight: normal;
}
.chujinyou .main2 .ul2 li p{
	padding-left: 0.1rem;
	padding-right: 0.1rem;
	font-size: 0.14rem;
	color: #aaa;
}
#footer{
	width: 100%;
	height: 0.4rem;
	text-align: center;
	line-height: 0.4rem;
	font-size: 0.18rem;
}