@charset "utf-8";
body{
	background: #FAFAFA;
}
.youlun{
	font-size: 0;
}
.youlun header{
	height: 0.5rem;
	line-height: 0.5rem;
	width: 100%;
	padding: 0 0.1rem;
	border-bottom: 1px solid #EEEEEE;
}
.youlun header>img{
	width: 5%;
	vertical-align: middle;
}
.youlun header>.s1{
	display: inline-block;
	width: 66%;
	text-align: center;
	vertical-align: middle;
	font-size: 0.18rem;
	margin-left: 0.3rem;
}
.youlun header>.s2{
	display: inline-block;
	width:21%;
	font-size: 0.14rem;
	color: #D30775;
	vertical-align: middle;
	text-align: right;
}
.youlun header>.s2>img{
	width:15%;
	vertical-align: middle;
	margin-left: 0.05rem;
}
.youlun #search{
	margin: 0.05rem auto;
	background: #fff;
	width: 94%;
	height: 0.4rem;
	line-height: 0.4rem;
	padding-left: 0.2rem;
	border: 1px solid #eee;
	border-radius: 0.05rem;
}
.youlun #search>img{
	width: 5%;
	vertical-align: middle;
}
.youlun #search>input{
	font-size: 0.1rem;
	outline: medium;
	border: none;
	vertical-align: middle;
	margin-left: 0.1rem;
}
.youlun #banner{
	width: 100%;
}
.youlun #banner>img{
	width: 100%;
}
.youlun #main1{
	background: #fff;
	font-size: 0;
}
.youlun #main1>.div1>p{
	width: 100%;
	padding: 0.05rem 0.1rem;
	font-size: 0.12rem;
}
.youlun #main1>.div1>div>p{
	width: 100%;
	padding: 0.14rem 0;
	border-bottom: 1px solid #BDBDBD;
}
.youlun #main1>.div1>div>p>a{
	display: inline-block;
	width: 33.33%;
	font-size: 0.14rem;
	text-align: center;
	border-right: 1px solid #BDBDBD;
}
.youlun #main1>.div1>div>p>a:last-of-type{
	border-right: none;
}

.youlun #main1>.div2>p{
	width: 100%;
	padding: 0.05rem 0.1rem;
	font-size: 0.12rem;
}
.youlun #main1>.div2>div>div{
	width: 100%;
	padding: 0.1rem 0;
	border-bottom: 1px solid #BDBDBD;
}
.youlun #main1>.div2>div>div>a{
	display: inline-block;
	width: 33.33%;
	text-align: center;
	border-right: 1px solid #BDBDBD;
}
.youlun #main1>.div2>div>div>a:last-of-type{
	border-right: none;
}
.youlun #main1>.div2>div>div>a>img{
	width: 60%;
}
.youlun #main1>.div1>div>div>a:last-of-type{
	border-right: none;
}
.youlun #main1>.div2>div>div>a>p{
	font-size: 0.14rem;
	text-align: center;
}

.youlun #main2{
	margin-top: 0.1rem;
	background: #fff;
}
.youlun #main2>p{
	font-size: 0.12rem;
	padding: 0.1rem 0 0 0.1rem;
}
.youlun #main2>div{
	width: 100%;
	padding: 0.1rem;
	border-bottom: 1px solid #BDBDBD;
	position: relative;
	margin-bottom: 1rem;
}
.youlun #main2>div>img{
	width: 100%;
	margin: 0.05rem 0;
}
.youlun #main2>div>p{
	line-height: 0.3rem;
}
.youlun #main2>div>.p1{
	font-size: 0.14rem;
}
.youlun #main2>div>.p2{
	font-size: 0.12rem;
	margin-bottom: 0.2rem;
}
.youlun #main2>div>.p3{
	position: absolute;
	bottom: 0.3rem;
	right: 0.1rem;
}
.youlun #main2>div>.p3>.s1{
	font-size: 0.12rem;
	color: #D30775;
}
.youlun #main2>div>.p3>.s2{
	font-size: 0.18rem;
	color: #D30775;
}
.youlun #main2>div>.p3>.s3{
	font-size: 0.12rem;
}






















